<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="gp8_srdf" params="prefix" >

        <group name="gp8_arm">
            <joint name="$(arg prefix)virtual_joint"/>
            <joint name="$(arg prefix)joint_1_s"/>
            <joint name="$(arg prefix)joint_2_l"/>
            <joint name="$(arg prefix)joint_3_u"/>
            <joint name="$(arg prefix)joint_4_r"/>
            <joint name="$(arg prefix)joint_5_b"/>
            <joint name="$(arg prefix)joint_6_t"/>
        </group>

        <group_state name="home" group="gp8_arm">
            <joint name="$(arg prefix)joint_1_s" value="0"/>
            <joint name="$(arg prefix)joint_2_l" value="0"/>
            <joint name="$(arg prefix)joint_3_u" value="0"/>
            <joint name="$(arg prefix)joint_4_r" value="0"/>
            <joint name="$(arg prefix)joint_5_b" value="0"/>
            <joint name="$(arg prefix)joint_6_t" value="0"/>
        </group_state>

        <disable_collisions link1="${prefix}base_link" link2="${prefix}link_1_s" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link_1_s" link2="${prefix}link_2_l" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link_2_l" link2="${prefix}link_3_u" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link_3_u" link2="${prefix}link_4_r" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link_4_r" link2="${prefix}link_5_b" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link_5_b" link2="${prefix}link_6_t" reason="Adjacent"/>

    </xacro:macro>
</robot>
